body {
    padding: 10px;
}

h2 {
    margin-bottom: 50px;
}

#bid {
   font-weight: bold;
}

#price {
    color: red;
 }

 #bid-button {
     margin-bottom: 20px;
 }
 
.card {
    margin: 40px;
}

#close-auction {
    margin-left: 70px;
    margin-bottom: 30px;
}

.pb-cmnt-container {
    font-family: Helvetica Neue;
    margin-top: 10px;
    margin-left: -60px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}