textarea {
    min-height: 400px;
}

li {
    padding: 10px;
    border-style: solid;
    list-style: none;
}

.email-sender {
    font-weight: bold;
}
.email-subject {
    margin-left: 30px;
}

.email-timestamp {
    display: block;
    float: right;
}

.email-detail {
    font-weight: bold;
}

#archive-email {
    visibility: hidden;
}